body { 
    font-family: Arial, sans-serif; 
}

.header { 
    color: #8c060c; 
    margin-bottom: 3px; 
    text-align: center;
}

.sub-header { 
    color: #787777; 
    font-size: 14px;
    margin-top: 2px;  
    margin-bottom: 30px;  
    text-align: center;
}

.article { width: 40%; margin-bottom: 15px; }
.article img { width: 80%; max-width: 600px; border-radius: 5px; border: 3px solid #d17dc0; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);}
.article h2 { margin-top: 5px; font-size: 16px; }
.article p {
    color: #787777; 
    font-size: 14px;
    margin-top: 2px;  
    margin-bottom: 30px;  
    text-align: center;
    width: 100%;
}
a { text-decoration: none; color: #000; }  
a:visited { color: #000 !important; }  
.articles h2:hover { text-decoration: underline; }
.articles p:hover { text-decoration: underline; }

