body { 
    font-family: Arial, sans-serif; 
}

.header { 
    color: #8c060c; 
    margin-bottom: 3px; 
    text-align: center;
}

.sub-header { 
    color: #787777; 
    font-size: 14px;
    margin-top: 2px;  
    margin-bottom: 30px;  
    text-align: center;
}

.article {
    width: 60%;
    margin-bottom: 15px; 
    padding: 5px; 
    border: 0; 
    border-radius: 5px; 
    text-align: center;  
    margin: 0 auto;
}


.article-url {
    width: 70%; 
    text-decoration: none; 
    color: #000; 
    cursor: pointer;
    display: flex;  
    justify-content: center; 
}

.article-url:visited { color: #000 !important; }  

.article-title { 
    margin-top: 5px; 
    font-size: 16px; 
    font-weight: bold; 
    text-align: center;
    display: inline-block;
}

.article-title:hover {text-decoration: underline;}

.article-image { 
    width: 70%; 
    max-width: 600px; 
    border-radius: 5px; 
    border: 3px solid #d17dc0; 
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
}

.article-description {
    color: #787777; 
    font-size: 14px;
    margin-top: 2px;  
    margin-bottom: 30px;  
    text-align: center;
    width: 100%;
} 



